body {
  text-align: justify;
} 

div.b {
  line-height: 1.6;
}

h2 {
  color: darkblue;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  margin-right: 150px;
  margin-left: 80px;
}

.fancy {
  position: relative;
  background-color: lightskyblue;
  padding: 2rem;
  text-align: center;
  max-width: 200px;
}

.fancy::before {
  content: "";

  position: absolute;
  z-index: -1;
  bottom: 15px;
  right: 5px;
  width: 50%;
  top: 80%;
  max-width: 200px;

  box-shadow: 0px 13px 10px black;
  rotate: 4deg;
}

.container {
  height: 8em;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5em;
  font: 1.2em sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}
