body {
  text-align: justify;
} 

div.b {
  line-height: 1.6;
}

h2 {
  color: darkblue;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  margin-right: 150px;
  margin-left: 80px;
}

<style>
.button {
  background-color: #04AA6D;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
